/* styles.css */

* {
	font-family: Arial;
}

.backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400px; 
	height: 400px;
	margin: 64px auto; 
}

.backgroundImage:hover {
	background-image: url(../img/clock.png); 
	cursor: crosshair;
}